@import './bootstrap';

body {
	font-family: "Ubuntu";
	font-size: 20px;
	color: green;
}

@import 'layouts/main';

@import './components/nprogress';
@import './components/spinner';

@import './pages/auth';
